body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.app {
  height: 100vh;
  overflow: hidden;
  background-color: white;
}
.fa-refresh {
  left: 90%;
  top: 10px;
  color: white;
  cursor: pointer;
}
.header {
  height: 40%;
}
.content {
  height: 53%;
}
.footer {
  height: auto;
}
.fa,
i {
  cursor: pointer;
}
.line-strike {
  text-decoration: line-through;
}
.date {
  bottom: 0;
}
.check {
  text-decoration: line-through;
}
.uncheck {
  text-decoration: none;
}
.refresh{
  rotate:360deg;
  transition-duration: 1s;
}
